<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="رخساره, باشگاه مشتریان, باشگاه مشتریان رخساره">
    <meta name="description" content="باشگاه مشتریان رخساره">
    <meta name="author" content="MohammadrezaAberi">
    <title>باشگاه مشتریان رخساره</title>

    <link href="~/Content/LandingPage/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/LandingPage/assets/css/animate.css" rel="stylesheet">
    <link href="~/Content/LandingPage/assets/css/icofont.css" rel="stylesheet">
    <link href="~/Content/LandingPage/assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/LandingPage/assets/css/owl.theme.default.css" rel="stylesheet">
    <link href="~/Content/LandingPage/assets/css/magnific-popup.css" rel="stylesheet">
    <link href="~/Content/LandingPage/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/LandingPage/assets/css/rtl.css" rel="stylesheet">
    <link href="~/Content/LandingPage/assets/css/responsive.css" rel="stylesheet">
    <link href="~/Content/LandingPage/assets/css/color/color-default.css" rel="stylesheet">
    <link href="~/Content/LandingPage/assets/dist/color-switcher.css" rel="stylesheet">

    <link rel="icon" type="image/png" href="~/Content/LandingPage/assets/img/favicon.ico">

    <meta http-equiv="imagetoolbar" content="no">
    <!--[if gte IE 5]><frame></frame><![endif]-->
    <link rel="stylesheet" id="ColorSwitcherLinkHolder">
</head>
<body data-spy="scroll" data-offset="70">

    <!-- Preloader -->
    <div class="preloader-wrap" style="display: none;">
        <div class="preloader"> <span></span> <span></span> <span></span> <span></span> <span></span> <span></span> </div>
    </div>
    <!-- Preloader -->
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-md navbar-light top-menu menu-shrink">
        <div class="container">
            <a class="navbar-brand" href="index.html"> HeroApp | هیرو اپ </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"> <a href="#home" class="nav-link">صفحه اصلی</a> </li>
                    <li class="nav-item"> <a href="#about" class="nav-link">درباره</a> </li>
                    <li class="nav-item"> <a href="#features" class="nav-link">ویژگی ها</a> </li>
                    <li class="nav-item"> <a href="#screenshots" class="nav-link">اسکرین شات</a> </li>
                    <li class="nav-item"> <a href="#pricing" class="nav-link">قیمت گذاری</a> </li>
                    <li class="nav-item"> <a href="#faqs" class="nav-link">سوالات متداول</a> </li>
                    <li class="nav-item"> <a href="#blog" class="nav-link">وبلاگ</a> </li>
                    <li class="nav-item"> <a href="#contact" class="nav-link active">تماس با ما</a> </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->
    <!-- Home -->
    <div id="home" class="hompage-slides-wrapper">
        <div class="homepage-slides owl-carousel owl-theme owl-rtl owl-loaded">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(2698px, 0px, 0px); transition: all 0s ease 0s; width: 8094px;">
                    <div class="owl-item cloned" style="width: 1349px;">
                        <div class="single-slider-item gradient-bg">
                            <div class="slide-item-table">
                                <div class="slide-item-tablecell">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-7">
                                                <div class="slider-text">
                                                    <h1>تمام موارد خود را با استفاده از برنامه هیرو اپ مدیریت کنید</h1>
                                                    <p>در کلیپ های مختلف تغییرات بسیاری وجود دارد ، اما اکثریت با طنز تزریقی دچار تغییراتی در برخی از اشکال شده اند.</p>
                                                    <div class="slide-button">
                                                        <a href="#app-download" class="slide-btn-white mr-10">
                                                            <i class="icofont-cloud-download"></i> بارگیری
                                                        </a>
                                                        <a href="#about" class="slide-btn-bordered">بیشتر بدانید</a>
                                                    </div>
                                                </div>
                                            </div><!-- END COL -->
                                            <div class="col-md-12 col-lg-5">
                                                <div class="welcome-phone">
                                                    <img src="assets/img/app-mockup-1.png" alt="App Mockup image">
                                                </div>
                                            </div><!-- END COL -->
                                        </div><!-- END ROW -->
                                    </div><!-- END CONTAINER -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 1349px;">
                        <div class="single-slider-item gradient-bg">
                            <div class="slide-item-table">
                                <div class="slide-item-tablecell">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-7">
                                                <div class="slider-text">
                                                    <h1>برنامه <br>شگفت انگیز قهرمان تلفن همراه</h1>
                                                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در پیش می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
                                                    <div class="slide-button">
                                                        <a href="#app-download" class="slide-btn-white mr-10"> <i class="icofont-cloud-download"></i> بارگیری </a>
                                                        <a href="#about" class="slide-btn-bordered">بیشتر بدانید</a>
                                                    </div>
                                                </div>
                                            </div><!-- END COL -->
                                            <div class="col-md-12 col-lg-5">
                                                <div class="welcome-phone">
                                                    <img src="assets/img/app-mockup-1.png" alt="App Mockup image">
                                                </div>
                                            </div><!-- END COL -->
                                        </div><!-- END ROW -->
                                    </div><!-- END CONTAINER -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item active" style="width: 1349px;">
                        <div class="single-slider-item gradient-bg">
                            <div class="slide-item-table">
                                <div class="slide-item-tablecell">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-7">
                                                <div class="slider-text">
                                                    <h1>تمام موارد خود را با استفاده از برنامه هیرو اپ مدیریت کنید</h1>
                                                    <p>در کلیپ های مختلف تغییرات بسیاری وجود دارد ، اما اکثریت با طنز تزریقی دچار تغییراتی در برخی از اشکال شده اند.</p>
                                                    <div class="slide-button">
                                                        <a href="#app-download" class="slide-btn-white mr-10"> <i class="icofont-cloud-download"></i> بارگیری </a>
                                                        <a href="#about" class="slide-btn-bordered">بیشتر بدانید</a>
                                                    </div>
                                                </div>
                                            </div><!-- END COL -->
                                            <div class="col-md-12 col-lg-5">
                                                <div class="welcome-phone">
                                                    <img src="assets/img/app-mockup-1.png" alt="App Mockup image">
                                                </div>
                                            </div><!-- END COL -->
                                        </div><!-- END ROW -->
                                    </div><!-- END CONTAINER -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="width: 1349px;">
                        <div class="single-slider-item gradient-bg">
                            <div class="slide-item-table">
                                <div class="slide-item-tablecell">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-7">
                                                <div class="slider-text">
                                                    <h1>برنامه <br>شگفت انگیز قهرمان تلفن همراه</h1>
                                                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در پیش می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
                                                    <div class="slide-button">
                                                        <a href="#app-download" class="slide-btn-white mr-10"> <i class="icofont-cloud-download"></i> بارگیری </a>
                                                        <a href="#about" class="slide-btn-bordered">بیشتر بدانید</a>
                                                    </div>
                                                </div>
                                            </div><!-- END COL -->
                                            <div class="col-md-12 col-lg-5">
                                                <div class="welcome-phone">
                                                    <img src="assets/img/app-mockup-1.png" alt="App Mockup image">
                                                </div>
                                            </div><!-- END COL -->
                                        </div><!-- END ROW -->
                                    </div><!-- END CONTAINER -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 1349px;">
                        <div class="single-slider-item gradient-bg">
                            <div class="slide-item-table">
                                <div class="slide-item-tablecell">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-7">
                                                <div class="slider-text">
                                                    <h1>تمام موارد خود را با استفاده از برنامه هیرو اپ مدیریت کنید</h1>
                                                    <p>در کلیپ های مختلف تغییرات بسیاری وجود دارد ، اما اکثریت با طنز تزریقی دچار تغییراتی در برخی از اشکال شده اند.</p>
                                                    <div class="slide-button">
                                                        <a href="#app-download" class="slide-btn-white mr-10"> <i class="icofont-cloud-download"></i> بارگیری </a>
                                                        <a href="#about" class="slide-btn-bordered">بیشتر بدانید</a>
                                                    </div>
                                                </div>
                                            </div><!-- END COL -->
                                            <div class="col-md-12 col-lg-5">
                                                <div class="welcome-phone">
                                                    <img src="assets/img/app-mockup-1.png" alt="App Mockup image">
                                                </div>
                                            </div><!-- END COL -->
                                        </div><!-- END ROW -->
                                    </div><!-- END CONTAINER -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item cloned" style="width: 1349px;">
                        <div class="single-slider-item gradient-bg">
                            <div class="slide-item-table">
                                <div class="slide-item-tablecell">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-7">
                                                <div class="slider-text">
                                                    <h1>برنامه <br>شگفت انگیز قهرمان تلفن همراه</h1>
                                                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در پیش می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
                                                    <div class="slide-button">
                                                        <a href="#app-download" class="slide-btn-white mr-10"> <i class="icofont-cloud-download"></i> بارگیری </a>
                                                        <a href="#about" class="slide-btn-bordered">بیشتر بدانید</a>
                                                    </div>
                                                </div>
                                            </div><!-- END COL -->
                                            <div class="col-md-12 col-lg-5">
                                                <div class="welcome-phone">
                                                    <img src="assets/img/app-mockup-1.png" alt="App Mockup image">
                                                </div>
                                            </div><!-- END COL -->
                                        </div><!-- END ROW -->
                                    </div><!-- END CONTAINER -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-nav">
                <button type="button" role="presentation" class="owl-prev"><i class="icofont-long-arrow-left"></i></button>
                <button type="button" role="presentation" class="owl-next"><i class="icofont-long-arrow-right"></i></button>
            </div><div class="owl-dots disabled">
            </div>
        </div>
    </div>
    <!-- Home -->
    <!-- About -->
    <section id="about" class="how-it-works gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <h2>چگونه کار می کند؟</h2>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در پیش می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
                    </div>
                </div><!-- END COL -->
            </div><!-- END ROW -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="hiw-feature-content">
                        <div class="single-hiw-feature wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <i class="icofont icofont-login"></i>
                            <h4>ابتدا وارد شوید</h4> <p>کلیپ های مختلفی از لورم ایپسوم در دسترس است ، اما اکثر آنها به نوعی تغییر کرده اند.</p>
                        </div>
                        <div class="single-hiw-feature wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <i class="icofont icofont-test-tube-alt"></i>
                            <h4>تست صورت</h4>
                            <p>کلیپ های مختلفی از لورم ایپسوم در دسترس است ، اما اکثر آنها به نوعی تغییر کرده اند.</p>
                        </div>
                        <div class="single-hiw-feature wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                            <i class="icofont-chart-histogram-alt"></i> <h4>تجزیه و تحلیل داده ها</h4> <p>کلیپ های مختلفی از لورم ایپسوم در دسترس است ، اما اکثر آنها به نوعی تغییر کرده اند.</p>
                        </div>
                        <div class="single-hiw-feature wow fadeInUp" data-wow-delay=".6s" style="visibility: hidden; animation-delay: 0.6s; animation-name: none;">
                            <i class="icofont-light-bulb"></i>
                            <h4>نتیجه نمایش</h4> <p>کلیپ های مختلفی از لورم ایپسوم در دسترس است ، اما اکثر آنها به نوعی تغییر کرده اند.</p>
                        </div>
                    </div>
                </div><!-- END COL -->
                <div class="col-lg-5 offset-lg-1">
                    <div class="video-demo-content wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        <img src="assets/img/video-demo.jpg" alt="Video Demo Image" class="img-circle">
                        <div class="play-video-icon">
                            <!-- Change the video from here -->
                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=szuchBiLrEM">
                                <i class="icofont-play"></i> <div class="sonar-wrapper">
                                    <div class="sonar-emitter"> <div class="sonar-wave"></div> </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div><!-- END COL -->
            </div><!-- END ROW -->
        </div><!-- END CONTAINER -->
    </section>
    <!-- About -->
    <!-- Contact -->
    <section id="contact" class="contact-section gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <h2>تماس بگیرید</h2>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در پیش می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
                    </div>
                </div><!-- END COL -->
            </div><!-- END ROW -->
            <div class="row">
                <div class="col-md-4 col-lg-4 wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                    <div class="single-contact-info">
                        <i class="icofont-location-pin"></i>
                        <h3>آدرس دفتر:</h3>
                        <p>استان شما، شهر شما، محله و منطقه شما.</p>
                    </div>
                </div><!-- END COL -->
                <div class="col-md-4 col-lg-4 wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                    <div class="single-contact-info">
                        <i class="icofont-envelope"></i> <h3>پست الکترونیکی:</h3>
                        <p>YourMail@Gmail.Com</p>
                    </div>
                </div><!-- END COL -->
                <div class="col-md-4 col-lg-4 wow fadeInUp" data-wow-delay=".8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;">
                    <div class="single-contact-info">
                        <i class="icofont icofont-phone"></i> <h3>تلفن:</h3> <p>+٣٢٤-٩٤٤٢-٥١٥</p>
                    </div>
                </div><!-- END COL -->
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="contact-form wow fadeInUp" data-wow-delay=".9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;">
                        <form id="contactForm" novalidate="true">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>نام شما</label>
                                        <input type="text" class="form-control" required="" data-error="لطفا نام خود را وارد کنید" placeholder="نام شما">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>پست الکترونیکی</label> <input type="email" class="form-control" required="" data-error="لطفا آدرس ایمیل خود را وارد کنید" placeholder="آدرس ایمیل"> <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>موضوع</label>
                                <input type="text" class="form-control" required="" data-error="لطفا موضوع خود را وارد کنید" placeholder="موضوع">
                                <div class="help-block with-errors"></div>
                            </div> <div class="form-group">
                                <label>پیام شما</label>
                                <textarea class="form-control" id="message" rows="6" required="" data-error="پیام خود را تایپ کنید" placeholder="پیام خود را اینجا وارد کنید ..."></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="default-button disabled" style="pointer-events: all; cursor: pointer;"> ارسال پیام <i class="icofont-arrow-left"></i> </button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div> <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div><!-- END COL -->
            </div><!-- END ROW -->
        </div><!-- END CONTAINER -->
    </section>
    <!-- Contact -->
    <!-- Footer -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="subscribe-text">
                            <h3>در خبرنامه ما مشترک شوید</h3>
                            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در پیش می گیرد. لورم ایپسوم استاندارد صنعت بوده است.</p>
                        </div> <div class="subscribe-form">
                            <form class="newsletter-form" data-toggle="validator" novalidate="true">
                                <input type="email" class="form-control" placeholder="آدرس ایمیل خود را وارد کنید" name="EMAIL" required="" autocomplete="off">
                                <button type="submit" class="btn subscribe-btn disabled" style="pointer-events: all; cursor: pointer;">
                                    <i class="icofont-paper-plane"></i>
                                </button>
                                <div id="validator-newsletter" class="form-result"></div>
                            </form>
                        </div>
                    </div><!-- END COL -->
                </div><!-- END ROW -->
            </div><!-- END CONTAINER -->
        </div><!-- END FOOTER TOP -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <p class="copyright">کپی رایت © 1398 تمام حقوق محفوظ است. طراحی و توسعه توسط <a href="https://www.rtl-theme.com/author/barat/?aff=barat" target="_blank">Barat Hadian</a></p>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <ul class="social-links">
                            <li>ما را دنبال کنید:</li>
                            <li> <a href="#"> <i class="icofont-facebook"></i> </a> </li>
                            <li> <a href="#"> <i class="icofont-twitter"></i> </a> </li>
                            <li> <a href="#"> <i class="icofont-google-plus"></i> </a> </li>
                            <li> <a href="#"> <i class="icofont-instagram"></i> </a> </li>
                            <li> <a href="#"> <i class="icofont-pinterest"></i> </a> </li>
                        </ul>
                    </div>
                </div><!-- END ROW -->
            </div><!-- END CONTAINER -->
        </div><!-- END FOOTER BOTTOM -->
    </footer>
    <!-- Footer -->

    @RenderBody()

    <script src="~/Content/LandingPage/assets/js/jquery-1.12.4.min.js" type="text/javascript"></script>
    <script src="~/Content/LandingPage/assets/js/popper.min.js" type="text/javascript"></script>
    <script src="~/Content/LandingPage/assets/js/bootstrap.min.js" type="text/javascript"></script>

    <div id="toTop" class="back-top-button" style="display: block;"><i class="icofont-rocket"></i></div>
</body>
</html>
